@import "tailwindcss";

:root {
  --background: #f9f7f7;
  --foreground: #000000;
  --cream: #ffecd3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: var(--cream);
  --font-sans: var(--font-jost);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost), system-ui, sans-serif;
}
